body {
  font-family: helvetica, arial;
}

button {
  cursor: pointer;
}

.carousel-mask {
  left: 0;
  overflow: hidden;
  /* pic dimensions */
  width: 300px;
  height: 210px;
  position: relative;
}

.pic-wrapper {
  background: lightgray;
  left: 0px;
  position: relative;
}


.pic {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.pic img {
  width: 100%;
  height: auto;
}

.move .pic {
  transition: all .5s ease;
}


.current {
  left: 0;
}

.move.next-dir .current {
  left: -100%;
}

.move.prev-dir .current {
  left: 100%;
}

.next {
  left: 100%; /* 1x the width */
  z-index: 1;
}

.prev {
  left: -100%; /* -1x the width */
  z-index: 1;
}

.move .next {
  left: 0;
}

.move .prev {
  left: 0;
}

.prev-dir .next {
  left: 100%;
}

.next-dir .prev {
  left: -100%;
}


