body {
	font-family: helvetica, arial;
}

.mask {
	left: 0;
	overflow: hidden;
	width: 300px;
	height: 300px;
	position: relative;
}

.pic-wrapper {
	background: lightgray;
	left: -300px;
	position: absolute;
}


.pic {
	display: inline-block;
	width: 300px;
	height: 300px;
	position: absolute;
}

.pic img {
	width: 300px;
	height: auto;
}


.current.next-dir {
	left: 300px;
}

.current.move {
	left: 0;
	transition: all .5s ease;
}

.current.prev-dir {
	left: 300px;
}

.current.move.prev-dir {
	left: 600px;
	transition: all .5s ease;
}


.next {
	left: 600px; /* 2x the size of the width */
}

.next.prev-dir {
	display: none;
}

.next.move {
	left: 300px;
	transition: all .5s ease;
}

.next.move.prev-dir {
	left: 900px;
	transition: all .5s ease;
}

.prev {
	left: 0; /* -2x the size of the width */
}

.prev.next-dir {
	display: none;
}

.prev.move {
	left: 300px;
	transition: all .5s ease;
}

